<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Usuarios</title>
        <link rel="stylesheet" href="{{url_for('static', filename='CSS/sty_crear.css')}}">
    </head>
    <body>
        <form action="/usuarios" method="GET" class="navegacion">
            <h1>Agregar usuario</h1>
            <button>
                Volver a usuarios
            </button>
        </form>
        <form action="/usuarios/nuevo" method="POST" class="contenedor">
            <div>
                <label for="nombre">
                    Nombre:
                </label>
                <input type="text" name ="nombre" id ="nombre">
            </div>
            <div>
                <label for="Apellidos">
                    Apellidos:
                </label>
                <input type="text" name="apellido" id="apellido">
            </div>
            <div>
                <label for="email">
                    E-mail:
                </label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <button>Agregar usuario</button>
            </div>
        </form>
    </body>
</html>